# Archivos y directorios de Python/Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
*.env
*.log
db.sqlite3  # Si usas SQLite en algún momento
migrations/  # Opcional: excluye migraciones generadas (puedes regenerarlas)

# Archivos de Node.js/React
node_modules/
dist/
dist-ssr/
*.local

# Archivos de Docker
db_data/  # Volumen de MySQL en Docker
*.dockerignore

# Archivos del sistema macOS
.DS_Store

# Archivos de editores
.vscode/
.idea/
*.swp
*.swo

# Archivos sensibles
*.pem
*.key
*.crt
secrets.json

